<?xml version="1.0"?>
<!--
/**
 * PageCache powered by Varnish
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@phoenix-media.eu so we can send you a copy immediately.
 *
 * @category   Phoenix
 * @package    Phoenix_VarnishCache
 * @copyright  Copyright (c) 2011 PHOENIX MEDIA GmbH & Co. KG (http://www.phoenix-media.de)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <system>
            <groups>
                <varnishcache translate="label comment" module="varnishcache">
                    <label>PageCache powered by Varnish settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>900</sort_order>
                    <fields>
                        <versioninfo>
                            <frontend_model>varnishcache/adminhtml_system_config_fieldset_versioninfo</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </versioninfo>
                        <enabled translate="label comment">
                            <label>Enable cache module</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <servers translate="label comment">
                            <label>Varnish servers</label>
                            <comment>Domain or IP list separted by semicolon (e.g. host1;127.0.0.1)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </servers>
                        <port translate="label comment">
                            <label>Server port</label>
                            <comment>Port of the Varnish servers (e.g. 8080)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </port>
                        <disable_caching translate="label comment">
                            <label>Disable caching</label>
                            <comment>Set a TTL of "0" for every request</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_caching>
                        <disable_routes translate="label comment">
                            <label>Disable caching for routes</label>
                            <comment>Set a TTL of "0" for certain routes/actions (e.g. checkout, catalog_product_view). Use one per line.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_routes>
                        <disable_caching_vars translate="label comment">
                            <label>Disable caching vars</label>
                            <comment>Request variables that force setting of NO_CACHE cookie to permanent disable caching for visitor.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>  
                        </disable_caching_vars>
                        <disable_on_add_message translate="label comment">
                            <label>Disable caching on add message</label>
                            <comment>Set NO_CACHE cookie when a message is added to the session.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_on_add_message>
                        <disable_on_add_to_cart translate="label comment">
                            <label>Disable caching on add to cart</label>
                            <comment>Set NO_CACHE cookie when a product is added to the cart.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>62</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_on_add_to_cart>
                        <disable_on_login translate="label comment">
                            <label>Disable caching on login</label>
                            <comment>Set NO_CACHE cookie when a customer is logged in.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>63</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_on_login>
                        <disable_on_add_to_compare translate="label comment">
                            <label>Disable caching on add to compare</label>
                            <comment>Set NO_CACHE cookie when a product is added to the compare list.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_on_add_to_compare>
                        <disable_on_add_to_wishlist translate="label comment">
                            <label>Disable caching on add to wishlist</label>
                            <comment>Set NO_CACHE cookie when a product is added to the wishlist.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </disable_on_add_to_wishlist>
                        <ttl translate="label comment">
                            <label>Default cache TTL</label>
                            <comment>TTL for cached pages in seconds (e.g. "1800" = page cache is valid for 30 minutes).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </ttl>
                        <routes_ttl translate="label comment">
                            <label>Cache TTL for routes</label>
                            <comment>TTL for cached pages in seconds for certain routes/actions (e.g. Route:"catalog_product_view", TTL:"7200").</comment>
                            <frontend_type>textarea</frontend_type>
                            <frontend_model>varnishcache/adminhtml_system_config_fieldset_routeTTL</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </routes_ttl>
                        <purge_catalog_category translate="label comment">
                            <label>Purge category</label>
                            <comment>Purge categorie's cache item on save</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </purge_catalog_category>
                        <purge_catalog_product translate="label comment">
                            <label>Purge product</label>
                            <comment>Purge product's cache item on save</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </purge_catalog_product>
                        <purge_cms_page translate="label comment">
                            <label>Purge CMS page</label>
                            <comment>Purge CMS page's cache item on save</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </purge_cms_page>
                        <purge_blog translate="label comment">
                            <label>Purge Blog post</label>
                            <comment>Purge Blog post's cache item on save</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </purge_blog>
                        <debug translate="label comment">
                            <label>Debug</label>
                            <comment>Pass X-headers for debugging purpose to the client and log purge requests to /var/log/varnish_cache.log (ensure developer log is enabled).</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </debug>
                    </fields>
                </varnishcache>
                <personalisation_cookie translate="label comment" module="varnishcache">
                    <label>Personalisation Cookie Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>901</sort_order>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Personalisation Cookie</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <cookie_key translate="label comment">
                            <label>Cookie Name</label>
                            <comment>TTL for cached pages in seconds (e.g. "1800" = page cache is valid for 30 minutes).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </cookie_key>
                        <send_to_all_users  translate="label comment">
                            <label>Ensure all users have a personalisation cookie</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_to_all_users>
                        <send_cart_count  translate="label comment">
                            <label>Send Number of Items in Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_cart_count>
                        <selector_cart_count translate="label comment">
                            <label>CSS Selector for Number of Items in Cart</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_cart_count>1</send_cart_count>
                            </depends>
                        </selector_cart_count>
                        <send_cart_subtotal  translate="label comment">
                            <label>Send Cart Subtotal</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_cart_subtotal>
                        <selector_cart_subtotal translate="label comment">
                            <label>CSS Selector for Cart Subtotal</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_cart_subtotal>1</send_cart_subtotal>
                            </depends>
                        </selector_cart_subtotal>
                        <send_wishlist_count  translate="label comment">
                            <label>Send Number of Items in Wishlist</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_wishlist_count>
                        <selector_wishlist_count translate="label comment">
                            <label>CSS Selector for Number of Items in Wishlist</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_wishlist_count>1</send_wishlist_count>
                            </depends>
                        </selector_wishlist_count>
                        <send_customer_first_name translate="label comment">
                            <label>Send Customer's First Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_customer_first_name>
                        <selector_customer_first_name translate="label comment">
                            <label>CSS Selector for Customer's First Name</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_customer_first_name>1</send_customer_first_name>
                            </depends>
                        </selector_customer_first_name>
                        <send_customer_full_name translate="label comment">
                            <label>Send Customer's Full Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_customer_full_name>
                        <selector_customer_full_name translate="label comment">
                            <label>CSS Selector for Customer's Full Name</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_customer_full_name>1</send_customer_full_name>
                            </depends>
                        </selector_customer_full_name>
                        <send_customer_email translate="label comment">
                            <label>Send Customer's Email Address</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </send_customer_email>
                        <selector_customer_email translate="label comment">
                            <label>CSS Selector for Customer's Email Address</label>
                            <frontend_type>text</frontend_type><sort_order>10</sort_order>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <send_customer_email>1</send_customer_email>
                            </depends>
                        </selector_customer_email>
                    </fields>
                </personalisation_cookie>
            </groups>
        </system>
    </sections>
</config>
